.about {
  padding-top: 30px;
  margin-bottom: 60px;

  @media (max-width: $breakpoint768) {
    padding-top: 20px;
    margin-bottom: 40px;
  }

  // .about__inner

  &__inner {}

  // .about__title

  &__title {
    max-width: 1150px;
    margin: 0 auto 10px;
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 170.66%;

    @media (max-width: $breakpoint768) {
      font-size: 20px;
      line-height: 140%;
    }
  }

  // .about__text

  &__text {
    max-width: 1150px;
    margin: 0 auto 25px;
    text-align: center;

    @media (max-width: $breakpoint768) {
      margin-bottom: 16px;
      font-size: 13px;
      line-height: 140%;
    }
  }

  // .about__btn

  &__btn {
    margin: 0 auto;
  }
}